---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page 222";
const allPosts = await Astro.glob('./posts/*.md');
---
<BaseLayout pageTitle={pageTitle}>
        <h2>This will be the blog section of my site</h2>
        <p>This is where I will post about my journey learning Astro.</p>
        <ul>
            {
                allPosts.map((post) => 
                    <BlogPost url={post.url} title={post.frontmatter.title} />
                )
            }
        </ul>
</BaseLayout>